* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000013;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

span {
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
}

span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0015ff;
    transform: scale(0.1);
    box-shadow: 0 0 10px #0015ff,
    0 0 20px #0015ff,
    0 0 30px #0015ff,
    0 0 40px #0015ff,
    0 0 50px #0015ff,
    0 0 60px #0015ff;
    border-radius: 50%;
    pointer-events: none;
    transition: 2s;
}

span:hover::before {
    transform: scale(1);
    transition: 0s;
}