@font-face {
    font-family: abster;
    src: url('/static/font/abster-webfont.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('/static/image/index_background_image.jpg');
}

.container .header {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header h1 a {
    text-decoration: none;
    color: white;
    font-family: abster;
}

.container .nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.container .nav ul li a {
    text-decoration: none;
    color: white;
}

.container .nav ul li a:hover {
    color: #ff6600;
    text-shadow: 0px 0px 24px #ff6600;
    cursor: pointer;
}

.container .hero {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .hero h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

.container .hero p {
    font-size: 14px;
}

.container .hero button {
    background: none;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    transition: all .4s;
}

.container .hero button:hover {
    color: #ff6600;
    border: 2px solid #ff6600;
    text-shadow: 0px 0px 24px #ff6600;
    box-shadow: 0px 0px 24px 2px #ff6600;
    cursor: pointer;
}

.snow-wrapper > .snow {
    position:absolute;
    background:#fff;
    width:1em;
    height:1em;
    border-radius: 50%;
    z-index: 1000;
    top:-5%;
}
.snow.falling {
    animation-name: falling;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

@keyframes falling {
    from {
        top:-5%;
    }
    to {
        top:95%;
    }
}

@keyframes glittering {
    0% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}