<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/smile.css') }}">
    <title>Smile Page</title>
</head>
<body>
    <audio id="audio" autoplay loop">
        <source src="{{ url_for('static', filename='music/christmas.mp3') }}">
    </audio>
    <script>
        var audio = document.getElementById("audio");
        audio.volume = 0.2;
    </script> 
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="pink">
        <div class="face"></div>
    </label>
    <label>
        <input type="radio" name="green">
        <div class="face"></div>
    </label>
</body>
</html>